:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: normal;
}
p {
  font-weight: normal;
  font-size: 16px;
}
h2 {
  font-size: 64px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 25px;
}
.project-description {
  padding: 30px 20px;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
    line-height: 1.1;
    padding: 10px 0;
  }
  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 80px 10px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
